.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 350px;
}

body {
    background-image: url(wp.jpg);
    background-size: cover;
}

a {
    font-family: sans;
    color: red;
}

p,
td,
h1,
input {
    font-family: sans;
    color: rgb(0, 255, 128);
}

input {
    background-color: gray;
    border: 0;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid whitesmoke;
}